*{
    font-family: Bookman, Serif;
}

header, footer{
    background-color: indigo;
    color: white;
    padding: 10px;
    text-align: center;
}

#text{
    background-color: blueviolet;
    padding: 10px;
    text-align: right;
}

#lewy, #prawy{
    background-color: lavender;
    height: 500px;
}

#lewy{
    width: 25%;
}

#prawy{
    width: 35%;
}

#srodkowy{
    background-color: ghostwhite;
    text-align: center;
    height: 500px;
    width: 40%;
}

img{
    float: right;
    width: 50%;
    padding: 10px;
}

p{
    color: white;
    font-size: 150%;
    font-style: italic;
}

table, form{
    margin: 30px;
}

table, td{
    border-style: solid;
    border-width: 1px;
    border-color: indigo;
}

th, td{
    padding: 3px;
}

main{
    display: flex;
}