body{
    background-color: #DDEEDD;
    font-family: Tahoma;
    text-align: center;
}

ul{
    list-style-type: square;
}

li{
    text-align: left;
}

header, footer{
    color: white;
    font-size: 120%;
    padding: 10px;
}

header{
    background-color: #409FFF;
}

footer{
    background-color: #A0A0A0;
}

nav{
    background-color: #FFFFFF;
    word-spacing: 30px;
    padding: 10px;
}

#lewy{
    background-color: #E4C0A8;
    width: 30%;
    height: 650px;
}

#prawy{
    width: 70%;
    height: 650px;
    text-overflow: initial;
}

a{
    color: #009900;
}

table, td{
    border: 1px solid black;
}

table{
    margin-top: 20px;
    margin: auto;
}

img{
    width: 90%;
}

main{
    display: flex;
}