*{
    padding: 0;
    margin: 0;
    font-family: Verdana;
}
.nlewy{
    background-color: seagreen;
    color: white;
    line-height: 150px;
    height: 260px;
    font-size: 160%;
    width: 75%;
}
.nprawy{
    background-color: seagreen;
    color: white;
    line-height: 150px;
    height: 260px;
    font-size: 160%;
    width: 25%;
    text-align: right;
}
section{
    background-color: mintcream;
    padding: 80px;
}
.fprawy{
    background-color: seagreen;
    color:  white;
    width: 50%;
    height: 70px;
    text-align: center;
}
.flewy{
    background-color: seagreen;
    color:  white;
    width: 50%;
    height: 70px;
    text-align: center;
}
img{
    box-shadow: 15px 15px 10px DimGray;
}
a{
    text-underline-offset: none;
    background-color: mintcream;
    padding: 15px;
    line-height: 70px;
}
footer{
    display: flex;
}
header{
    display: flex;
    width: 100%;
}
input{
    margin-bottom: 20px;
}
button{
    margin-bottom: 20px;
}