*{
    font-family: Helvetica;
}
header, footer{
    background-color: Sienna;
    color: white;
    padding: 10px;
    text-align: center;
}
#lewy, #prawy{
    background-color: NavajoWhite;
    width: 15%;
    height: 700px;
}
#srodkowy{
    width: 70%;
    height: 700px;
    overflow: scroll;
}
img{
    width: 100%;
}
#skrypt{
    display: inline-block;
    width: 46%;
    margin: 2%;
    position: relative;
}
h3, p, a{
    opacity: 0;
    position: absolute;
}
h3{
    top: 5%;
}
p{
    top: 30%;
}
a{
    top: 70%;
    left: 70%;
    background-color: Sienna;
    padding: 15px;
}
main{
    display: flex;
}
#skrypt img {
  transition: opacity 0.5s ease;
  opacity: 1;
}

#skrypt:hover img {
  opacity: 0.3;
}

#skrypt:hover h3,
#skrypt:hover p,
#skrypt:hover a{ 
  opacity: 1;
}