*{
    font-family: 'Verdana';
}
img.obrazek{
    display: block;
    position: absolute;
    left: 15%;
    width: 70%;
    z-index: -1;
}
header{
    background-color: rgb(60, 120, 160, 0.9);
    color: white;
    font-size: 150%;
    padding: 10px;
}
#lewy{
    background-color: rgb(0, 100, 0, 0.6);
    margin: 2%;
    height: 600px;
    width: 75%;
    font-size: 120%;
    overflow: auto;
    box-shadow: 10px 10px 7px dimgray;
    float: left;
}
#prawy, #prawy2{
    background-color: rgb(0, 100, 0, 0.6);
    box-shadow: 10px 10px 7px dimgray;
    padding: 10px;
    float: right;
    width: 15%;
    height: 300px;
    margin: 1%;
}
h1, h2{
    text-align: center;
    font-style: italic;
}
a, dt{
    color: white;
}
dd{
    padding: 1%;
}
dd:hover{
    background-color: lightgreen;
}
footer{
    clear: both;
    background-color: rgb(60, 120, 160, 0.9);
    color: white;
    padding: 10px;
}