* {
    font-family: "Century Gothic", Verdana, sans-serif;
    box-sizing: border-box;
  }
  
  body {
    background-color: #f0eae2;
    margin: 0;
  }
  
  header, footer {
    background-image: url("cegla.png");
    color: white;
    text-align: center;
    padding: 15px;
  }
  
  nav {
    background-color: #824555;
    text-align: center;
    padding: 15px;
  }
  
  nav a {
    color: #f0eae2;
    margin: 0 30px;
    font-size: 1.5em;
    text-decoration: none;
  }
  
  nav a:hover {
    color: white;
  }

  #all {
    display: flex;
    margin: 10px;
  }
  
  #lewy, #srodkowy {
    width: 40%;
    height: 500px;
    border: 1px solid #824555;
    padding: 10px;
    overflow-y: auto;
    background-color: #fff;
  }
  
  #boczny {
    width: 20%;
    text-align: right;
    overflow: hidden;
  }
  
  #boczny img {
    width: 100%;
    display: block;
    margin-bottom: 5px;
  }
  
  h2 {
    text-align: center;
  }
  