*{
    font-family: 'Veranda';
}
section#boczny{
    width: 20%;
    height: 610px;
}
img{
    width: 100%;
    height: 610px;
}
header, footer, nav{
    background-color: mediumpurple;
    color: white;
    width: 80%;
    height: 50px;
    text-align: center;
    text-shadow: 4px 4px dimgray;
}
nav{
    padding-top: 10px;
}
main{
    background-color: thistle;
    width: 80%;
    height: 450px;
    overflow: auto;
}
ul button{
    float: right;
    background-color: Mediumpurple;
    color: white;
    height: 30px;
    border: none;
}
ul{
     margin-top: 40px;
     margin-bottom: 40px;
     margin-right: auto;
     margin-left: auto;
    width: 70%;
    font-size: 25px;
    border: solid 2px mediumpurple;
    list-style: none
}
li{
    padding: 10px;
}
li:nth-child(2n){
    background-color: #ddcadd;
}
li:hover{
    background-color: lavender;
}