*{
    font-family: Georgia;
    color: white;
}

header, footer{
    background-color: maroon;
    text-align: center;
    padding: 2px;
}

#lewy, #srodkowy, #prawy{
    background-color: lightsalmon;
    height: 527px;
}

#lewy, #prawy{
    width: 15%;
}

#srodkowy{
    width: 70%;
}

#miniatury{
    background-color: maroon;
    height: 70px;
}

button{
    background-color: lightsalmon;
    color: maroon;
    border: none;
    font-size: 400%;
    display: block;
    margin: auto;
    padding-top: 210px;
}

#miniatury img{
    height: 70px;
    animation-name: animacja1;
    animation-duration: 4s;
    
}
@keyframes animacja1 {
        from {padding-left: 50px;}
        to {padding-left: 0px;}
    }

#srodkowy img{
    display: block;
    margin: auto;
    padding-top: 45px;
}

#srodkowy img:hover{
    animation-name: animacja2;
    animation-duration: 5s;
    animation-fill-mode: forwards
}

@keyframes animacja2 {
        from{scale: 100%;}
        to{scale: 120%;}
    }


main{
    display: flex;
}