*{
    font-family: Century, Serif;
    text-align: center;
}
header, footer{
    background-color: indigo;
    color: white;
    font-style: italic;
    padding: 2px;
}
#s1, #s2, #s3, #s4{
    width: 50%;
    height: 470px;
    background-color: white;
}
img{
    padding: 3px;
    margin: 10px;
    border: 2px dashed slateblue;
}
a{
    color: white;
}
button{
    background-color: slateblue;
    color: white;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
}
button:hover{
    background-color: indigo;
}
input[type="range"]{
    width: 80%;
}
#s1{
    float: left;
}
#s2{
    float: right;
}
#s3{
    float: left;
}
#s4{
    float: right;
}
footer{
    clear: both;
}